<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<title>{block #title}nette-acl{/block}</title>
	<link rel="stylesheet" href="{$basePath}/css/admin.css" type="text/css" media="screen, projection, tv" />
</head>
<body>

	<div id="content" class="noborder">
		<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
		{include #content}
	</div><!-- #content -->

</body>
</html>