{block #title}Login :: {include #parent}{/block}
{if $user->isLoggedIn()}
	<a n:href="logout!">Odhlásit</a>
	<a n:href="createUser!">Nový uživatel</a>
{/if}
{block #content}
	{foreach $flashes as $flash}
		<div class="{$flash->type}">{$flash->message}</div>
	{/foreach}
	<div id="loginForm">
		{control loginForm}
	</div>
{/block}